<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Example</title>
</head>
<body>
    <div>
        <input id="userIdInput" type="text" placeholder="Введите user_id">
        <button id="setUserIdButton">Установить user_id</button>
    </div>
    <div>
        <button id="connectButton" disabled>Соединиться</button>
        <button id="finishMatchButton" disabled>Завершить матч</button>
        <select id="matchResult" disabled>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>

    <pre id="currentGame"> Тут будет моя текущая игра</pre>

    <pre id="serverResponse">Тут будут матч</pre> <!-- Используем <pre> для отображения JSON-данных -->

    <div>
        <label for="player1">Игрок 1:</label>
        <input type="text" id="player1" placeholder="Имя игрока 1">
        <input type="number" id="score1" placeholder="Очки игрока 1">
    </div>
    <div>
        <label for="player2">Игрок 2:</label>
        <input type="text" id="player2" placeholder="Имя игрока 2">
        <input type="number" id="score2" placeholder="Очки игрока 2">
    </div>
    <button id="saveButton">Сохранить результат</button>
    <div id="resultDisplay"></div>

    <script>
        // Получаем ссылки на HTML-элементы
        const userIdInput = document.getElementById('userIdInput');
        const setUserIdButton = document.getElementById('setUserIdButton');
        const connectButton = document.getElementById('connectButton');
        const finishMatchButton = document.getElementById('finishMatchButton');
        const matchResult = document.getElementById('matchResult');
        const serverResponse = document.getElementById('serverResponse');
        let ws;
        let userId; // Переменная для хранения user_id
        let tournamentId; // Переменная для хранения tournament_id

        function updateServerResponse(response) {
            serverResponse.textContent = JSON.stringify(response, null, 2);
        }

        // Обработчик события при нажатии кнопки "Установить user_id"
        setUserIdButton.addEventListener('click', () => {
            // Установка user_id и активация кнопок
            userId = userIdInput.value;
            tournamentId = 1; // Номер турнира по умолчанию
            if (userId) {
                userIdInput.setAttribute('disabled', true);
                setUserIdButton.setAttribute('disabled', true);
                connectButton.removeAttribute('disabled');
                finishMatchButton.removeAttribute('disabled');
                matchResult.removeAttribute('disabled');
            }
        });

        // Обработчик события при нажатии кнопки "Соединиться"
        connectButton.addEventListener('click', () => {
            if (userId) {
                // Подключение к WebSocket серверу и передача user_id и tournament_id
                ws = new WebSocket(`ws://localhost:8000/api/v1/test_websocket/ws/${tournamentId}/${userId}`);
                ws.onopen = () => {
                    console.log('WebSocket соединение установлено.');
                };
                ws.onmessage = (event) => {
                    // Отображение JSON-ответа от сервера
                    const response = JSON.parse(event.data);
                    updateServerResponse(response)
                };
            }
        });

        // Обработчик события при нажатии кнопки "Завершить матч"
        finishMatchButton.addEventListener('click', () => {
            if (userId) {
                // Отправка информации о завершении матча
                const result = matchResult.value;
                const data = {
                    user_id: userId,
                    tournament_id: tournamentId,
                    result: result
                };
                ws.send(JSON.stringify(data));
            }
        });
    </script>
</body>
</html>
